.tech {




margin: 6%;
 
  h2.linea span {

    // letter-spacing: 0.1em;

    // font-size: 30px;
    padding: 1%;
    font-weight: 500;
    // font-family: Miracle Mercury Bold Semi-Italic;
  }
  .tech-cards {
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
//  padding: 5%;
 
   
    .tech-cards-1 {
      padding: 2%;
      justify-content: center;
    }

  }
}
@media (max-width: 768px) {
  .tech {
    width: 100%;
    padding-top: 12%;
    margin: 0%;
h2{
  margin: 4%;
}
    .tech-cards{
      padding: 0%;
      grid-template-columns: repeat(3, 1fr);
    }


  }
}
