.tech {
  background: var(--background-color);
  //   background-image: url("https://images.unsplash.com/photo-1508745453110-c69ab4be30cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  // background-attachment: fixed;
  // background-size: cover;

  padding-bottom: 5%;
  padding-top: 3%;
  /*   .linea1 {
    // border-left: 2px solid black ;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 0.2em;
   
    font-size: 45px;
    font-weight: 100;
    font-family: Miracle Mercury Bold Semi-Italic;
    color: var(--text-color);
    span {
      background: var(--background-color);
      padding: 0 15px;
    }
  }

  .linea {
    position: relative;
    z-index: 1;
  }
  .linea:before {
    border-top: 2px solid #141414;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
  } */

  h2 {
    font: 33px sans-serif;
    margin-top: 0px;
    text-align: center;
  }
  h2.linea {
    position: relative;
    z-index: 1;
  }
  h2.linea:before {
    border-top: 1px solid var(--text-color);
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  h2.linea span {
    color: var(--text-color);
    letter-spacing: 0.2em;

    font-size: 45px;
    font-weight: 100;
    font-family: Miracle Mercury Bold Semi-Italic;
    background: var(--background-color);
    padding: 0 15px;
  }
  .tech-cards {
    height: 490px;
    margin: 20px;
    padding: 60px 0px 0px 0px;
    // .tech-cards-1{
    background-color: var(--technologiesback);

    // }
    .tech-cards-2 {
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .tech {
    width: 100%;
    padding-top: 12%;
    h2 {
      font: 33px sans-serif;
      margin-top: 0px;
      text-align: center;
    }

    h2.linea span {
      letter-spacing: 0.1em;

      font-size: 33px;
    }
    .tech-cards {
      height: 200%;
      margin: 4px;
      padding: 19px 3px 19px 0px;
      // .tech-cards-1{
      background-color: var(--technologiesback);
      display: flex;
      .tech-cards-1 {
        justify-content: center;
      }
      .tech-cards-2 {
        justify-content: center;
        justify-content: space-around;
      }
    }
  }
}
