.techcard{
    position: relative;
   text-align-last: center;
   padding: 2%;

// border:  2px solid #40838583;
    margin: 8px;
    background: rgba(255, 255, 255, 0.121); 
    p{
        font-size: 20px;
    }
    img{
        animation: 
        pulse 3s ease infinite alternate, 
         nudge 5s linear infinite alternate;
       
        padding: 9%;
        height: 100px;
        width: 90%;
    }
    
}
@media (max-width: 768px) {
  .techcard{
    position: relative;

  
    text-align-last: center;

// border:  2px solid #40838583;
    margin: 8px;
    background: rgba(255, 255, 255, 0.121); 
    p{
        display: none;
    }

}
}

    