.resume {
  padding: 1%;
  background: var(--background-color);
  .vertical-timeline-element {
    margin: 1em 0;
    height: 100px;
  }
}
@media (max-width: 648px) {
  /*Mobile View */
  .resume {
    padding: 6%;

 .vertical-timeline-element {
         margin: 1em 0; 
         height: 180px; 
    }
    .vertical-timeline-element-content {
      margin-bottom: 2px;
      position: relative;
      margin-left: 60px;
      background: #fff;
      border-radius: 0.25em;
      padding: 1;
      -webkit-box-shadow: 0 3px 0 #ddd;
      box-shadow: 0 3px 0 #ddd;
    }
    .vertical-timeline-element:last-child {
      margin-top: 2px;
      margin-bottom: 0;
    }

    .vertical-timeline-element-title {
      margin: '';
      font-size: 15px;
    }

    .vertical-timeline-element-subtitle {
      margin: 0;
      font-size: 15px;
    }

 
   
  }
}
