.about {
  padding: 4%;

  .elipse-div {
    img {
      animation-name: stretch;

      animation-duration: 2s;

      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }

  @keyframes stretch {
    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.09);
    }
  }

  .elipse-img {
    animation-name: stretch;

    animation-duration: 2s;

    animation-direction: alternate;
    animation-iteration-count: infinite;
    // animation:
    //   pulse 8s ease infinite alternate,
    //   nudge 10s linear infinite alternate;
  }

  .about-col {
    h1{
      padding: 0% 0% 0% 10%;
    }
    .about-text {
      margin-left: 10%;
      padding: 10px;
      width: 100%;
      margin-top: 6%;
      font-size: 18px;
      line-height: 1.8;
      text-align: left;
    }
  }
}

@media (max-width: 668px) {
  .about {
    padding: 0%;
    .elipse-div {
display: none;
      img {
        width: 40%;
      }
    }

    .elipse-img {
      width: 60%;
    }
  }

  .row-about {
    display: contents;

    .about-col {
      h1{
        padding: 0% 0% 0% 0%;
      }
      .about-text {
        text-align: left;
        margin-left: 0%;

        margin-top: 6%;
        font-size: 18px;
        line-height: 2;
      }
    }
  }
}