.home {
 

  background: var(--background-color);
  padding: 1px;
  padding-top: 10%;
  .type-div {
    padding: 50px;

    .typewriter {
      margin-top: 1%;
      font-size: 60px;

      font-family: TimesNewRoman;
      margin-bottom: 5%;
      color: #313131;

      font-weight: bold;

      animation: colorchange 20s infinite alternate;
      @keyframes colorchange {
        0% {
          color: rgb(146, 148, 248);
        }

        10% {
          color: #8e44ad;
        }

        15% {
          color: #bc1a99;
        }

        20% {
          color: #074639;
        }

        30% {
          color: #d3ac00;
        }

        40% {
          color: rgb(236, 189, 87);
        }

        50% {
          color: #34495e;
        }

        60% {
          color: rgb(32, 9, 116);
        }

        70% {
          color: #ff09b5;
        }
        80% {
          color: #f1c40f;
        }

        90% {
          color: #080d53;
        }

        100% {
          color: pink;
        }
      }
    }
    .contenedor {
      font-family: TimesNewRoman;
      display: flex;
      width: 600px;
      height: 43px;

      font-size: 43px;
      line-height: 40px;

      font-weight: bold;

      overflow: hidden;
      animation: colorchange 20s infinite alternate;
 
      ul {
        list-style: none;
        padding-left: 10px;
        animation: cambiar 7s infinite;
      }

      ul,
      p {
        margin: 0;
      }

      @keyframes cambiar {
        0% {
          margin-top: 0;
        }
        20% {
          margin-top: 0;
        }

        25% {
          margin-top: -40px;
        }
        50% {
          margin-top: -40px;
        }

        55% {
          margin-top: -80px;
        }
        80% {
          margin-top: -80px;
        }

        85% {
          margin-top: -40px;
        }
        95% {
          margin-top: -40px;
        }

        100% {
          margin-top: 0;
        }
      }
    }
  }

  img {
    margin-left: 20px;

    width: 350px;
    height: 300px;
  }
}

@media (max-width: 648px) {
  .home {

    padding: 10px;
    margin-top: 10%;
    .type-div {
      padding: 10px;

      .typewriter {
        margin-top: 5%;
        font-size: 27px;

        font-family: TimesNewRoman;
        margin-bottom: 8%;
        color: #313131;
      }
      .contenedor {
        font-family: TimesNewRoman;
        display: flex;
        width: 300px;
        height: 40px;
   
        font-size: 28px;
        line-height: 40px;
        font-weight: bold;

        ul {
          list-style: none;
          padding-left: 8px;
          animation: cambiar 7s infinite;
        }

        ul,
        p {
          margin: 0;
        }
      }
    }

    .home-img {
      display: none;
    }
  }
}
