.home {
.div-left{
place-self: center;
padding: 15% 0% 25% 10%; //fix it


.social-links {
    .icon-style {
      display: flex;
      div {
        text-align: center;
        border-radius: 6px;
        margin: 1%;
        width: 10%;
        height: 6vh;
       
        background-color: #ff2372;
      }

      a {
        .icon {
          color: #ffffff;
          margin-top: 11%;
          width: 30px;
          height: 30px;
        }

        .icon:hover {
          color: white;
        }
      }
    }

  }
}
.img {

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

    }

}

@media (max-width: 648px) {
    .home {
        margin-top: 40%;
        .typewritter-txt{
            margin-top: 10%;
            font-size:20px;
         
        }
        div{
            display: block !important;
            img{
                display: none;
            }
            
        }


    }

}