.contact {
  padding: 6%;
  @media (max-width: 768px) {
  .row{
    display: block;
    h1{
        font-size: 20px;
    }
  }
}
  .line {
    border: 1px solid white;
  }
  .inputs {
    .input-box {
      display: flex;
      text-align: center;
      p {
        font-size: 18px;
        margin: 5% 0% 4% 7%;
        text-align: left;
        @media (max-width: 768px) {
            margin: 4% 0% 2% 0%;
        }
      }
      input {
        color: white;
        border-radius: 1px;
        background: transparent;
        border: 1px solid #ff2372;
        width: 85%;
        height: 45px;
        @media (max-width: 768px) {
            width: 100%;
        }
      }
      @media (max-width: 768px) {
    display: block;
      }
    }
    .textarea-box {
      text-align: center;

      p {
        margin: 2% 0% 2% 5%;
        text-align: left;
        @media (max-width: 768px) {
            margin: 5% 0% 4% 5%;
        }
      }
      textarea {
        color: white;
        border-radius: 1px;
        background: transparent;
        border: 1px solid #ff2372;
        width: 90%;
        height: 20vh;
      }
    }

    .div-btn {
      margin: 2% 0% 0% 5%;

      text-align: left;
      button {
        width: 20%;
        color: white;
        height: 42px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        background: #ff2372;
        border-radius: 1px;
        border: 1px solid #ff2372;
        @media (max-width: 768px) {
            width: 50%;
        }
      }
      button:hover {
        background: #810c37;

      }
    }
  }
}
