.contact {
  padding: 2%;
  font-family: Miracle Mercury Bold Semi-Italic;
  src: url("//db.onlinewebfonts.com/t/347dba378455251e46ae096580267bfd.eot");


  .rowe-contact {

    // INFO CONTACTO
    .col-detail {


      


      .contact-title {

        font-weight: 200;

        // margin: 3% 0% 6% 0%;

        font-size: 30px;
        text-align: start;

      }
    }


    // ENVIAR EMAIL COLUMNA
    .email-title {
      // margin-bottom: 6%;
      font-weight: 200;
      // margin-top: 2%;
      text-align: start;
      margin-left: 8%;
      font-size: 30px;

    }

    .col-email {
      border-radius: 10px;
      border: 1px solid #FF2372;

    }

    .inputs {
      text-align: -webkit-center;
      display: grid;

      input {
        border-radius: 10px;
        background: white;
        border: 1px solid #ffffff;
        margin-bottom: 8px;
        width: 83%;
        height: 40px;
      }

      textarea {
        border-radius: 10px;
        border: 1px solid #ffffff;
        background: white;
        width: 83%;
        height: 80px;
        margin-bottom: 2px;
      }

      .btn-submit {
        color: white;
        // margin-top: 1%;
        width: 20%;
        height: 42px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        background: #FF2372;
        border-radius: 5px;
        border: 1px solid #FF2372;
        position: relative;
        overflow: hidden;
        margin-bottom: 2%;
        float: left;
        margin-left: 9%;
      }

      .btn-submit:hover {
  background-color: #ff237493;
        box-shadow: 1px 1px 25px 10px #ff23749d;
      }

    }

    .details {

      line-height: 2.8;


      font-size: 20px;
    }



}}

.swal-modal {
  background-color: rgb(32, 31, 31);

}
.swal-icon--success__hide-corners {
  background: none !important;
  }
  .swal-icon--success:before,
  .swal-icon--success:after {
  background: none !important;
  }

.swal-text {



  color: #ffffff;
}

.swal-overlay {
  background-color: #4382a96a;
}
@media (max-width: 768px) {

  .contact{
    .rowe-contact{
      flex-direction: column-reverse;
      .col-email{
        width: 100% !important;
        .btn-submit {
          color: white;
          margin-top: 1%;
          width: 40%;
          height: 40px;
          font-size: 20px;
   
        }
      }

      .col-detail {


      width: 100% !important;


        .contact-title {
  
      
  
          margin: 0% 0% 6% 0%;
  
         
          text-align: start;
  
        }
      }
  
    }
  }


 
}