/*Desktop View*/
.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  background: rgba(0, 0, 0, 0.111);
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  height: 80px;
}

.nav-options {
  padding-left: 15%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 50px;
  list-style-type: none;
}

.mobile-option {
  display: none;
}

.option {
  text-align: center;

  a {

    color: rgb(255, 255, 255);
  }

  a:hover {
    color: rgb(255, 255, 255);
  }
}

.option:hover {

  border-radius: 5px;
  width: 120%;
  background-color: #ff237479;
}

.translatein {

  display: flex;
  padding: 0px 5px;
  list-style-type: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 648px) {

  /*Mobile View */
  .header {
    background: rgba(0, 0, 0, 0.901);

  }

  .nav-options {
    padding-left: 0%;
    display: flex;
    width: 100%;
    height: 350px;
    position: absolute;
    top: 64px;
     left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: rgba(0, 0, 0, 0.723);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;



  }

  .menu-icon {
    width: 45px;
    height: 45px;
  }

  .option {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 10vw;
    padding: 24px;


  }



  .translatein {
    display: none;

  }


  .mobile-menu {
 margin-top: 8%;
    display: block;
  }
}