// CARDS PROJECTS TABLE DESIGN

.design {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 6%;

  // CARD IMAGE
  .card-work-design {
    margin-bottom: 8%;
    @media (max-width: 648px) {
      text-align: -webkit-center;

    }
    .image-container {
      position: relative;
      width: 98%; /* Ajusta el tamaño según tus necesidades */
    }
    img {
      width: 100%;
      height: 350px;
      display: block;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(
        0,
        0,
        0,
        0.742
      ); /* Fondo semitransparente para el texto */
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0; /* Inicialmente, el overlay es invisible */
      transition: opacity 0.3s ease; /* Agrega una transición suave para el efecto de hover */
    }

    .overlay p {
      font-size: 20px;
      margin: 2%;
      font-weight: 500;
      color: #fff; /* Color del texto en el overlay */
    }

    .image-container:hover .overlay {
      opacity: 1; /* Al hacer hover, el overlay se vuelve visible */
    }
  }
}

// MOBILE VIEW

@media (max-width: 648px) {
  .design {
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
}
