.works-tech {
  padding: 1%;
  margin: auto;
  background: var(--background-color);

  .row-tech {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6%;
    .card-work {
      color: var(--text-color);
      text-align: -webkit-center;

      width: 100%;
      img {
        width: 100%;
        height: 350px;
        transition: transform 2s;
        box-shadow: 7px 1px 12px 6px var(--boxshadow);
        -webkit-box-shadow: 7px 1px 12px 6px var(--boxshadow);
        -moz-box-shadow: 7px 1px 12px 6px var(--boxshadow);
        &:hover {
          transform: rotateY(-20deg);
        }
      }
    }
    .col-1-tech {
      width: 80%;
      margin-bottom: 10%;
      .col-1-body {
        .btn-work {
          margin-top: 9%;
          background-color: black;
          width: 150px;
          .title {
            letter-spacing: 2px;
            margin-top: 10px;
            // color: var(--text-color);
            color: var(--download);
            font-size: 15px;
          }
        }

        .description {
          margin-top: 6%;
          font-size: 20px;
          color: var(--text-color);
        }
      }
    }
  }
}
@media (max-width: 648px) {
  /*Mobile View */
  .works-tech {
    padding: 2%;
    margin: auto;

    .row-tech {
      margin-top: 3%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .card-work {
        place-self: center;

        width: 80%;
        img {
          width: 100%;
          height: 360px;
        }
      }
      .col-1-tech {
        width: 100%;
        margin-top: 15%;
        .col-1-body {
          .btn-work {
            margin-top: 9%;
            background-color: black;
            width: 150px;
            .title {
              letter-spacing: 2px;
              margin-top: 10px;
              // color: var(--text-color);
              color: white;
              font-size: 15px;
            }
          }

          .description {
            text-align: -webkit-center;
          }
          .title {
            font-size: 32px;
          }
        }
      }
    }
  }
}
