.works-tech {
  padding: 1%;
  margin: auto;

  .Tabs {

    height: auto;
    color: #E8F0F2;

    /* Tab Navigation */
    ul.nav {
      width: 60%;
      margin: 0 auto 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #FF2372;
      border-radius: 1rem;

      @media (max-width: 768px) {
        width: 100%;
        margin-top: 15%;
      }
    }

    ul.nav li {
      font-size: 20px;
      width: 50%;
      padding: 1rem;
      list-style: none;
      text-align: center;
      cursor: pointer;
      transition: all 0.7s;
      border-bottom-left-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    ul.nav li:nth-child(2) {
      border-radius: 0;
      border-bottom-right-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    ul.nav li:hover {
      background: #ff2374cc;
    }

    ul.nav li.active {
      background: #FF2372;
    }
  }
}






