.content-images {
  margin-top: 3%;
  .cel-img1 {
    img {
      width: 100%;
    }
    margin-top: 10%;
  }

  .cel-img2 {
    text-align: -webkit-center;
    margin-top: 10%;

    img {
      width: 85%;
      height: 600px;
    }
  }

  .text-cel {
    .tech-cel {
      font-size: 33px;
      font-family: "Times New Roman", sans-serif;

      margin-top: 2%;
      color: var(--text-color);
      text-decoration: underline;
    }
    p {
      font-size: 30px;
      font-family: "Times New Roman", sans-serif;
      text-align: -webkit-center;
      margin-top: 5%;
      color: var(--text-color);
    }
    ul {
      text-align: center;
      margin-top: 3%;
      li {
        list-style: none;
        font-size: 22px;
        font-family: "Times New Roman", sans-serif;
        color: var(--text-color);
      }
    }
  }

  .cel-img3 {
    margin-top: 6%;

    img {
      width: 100%;
    }
  }
  .cel-img4 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .cel-img5 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .cel-img6 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 701px) {
  .content-images {
    flex-direction: column;
    .cel-img2 {
      margin-top: 10%;

      img {
        width: 100%;
        height: 250px;
      }
    }
    .text-cel {
      .tech-cel {
        font-size: 20px;
        font-family: "Times New Roman", sans-serif;
        text-align: -webkit-center;
        margin-top: 13%;
        color: var(--text-color);
        text-decoration: underline;
      }
      p {
        font-size: 20px;
        font-family: "Times New Roman", sans-serif;
        text-align: -webkit-center;
        margin-top: 20%;
        color: var(--text-color);
      }
      ul {
        li {
          font-size: 15px;
          font-family: "Times New Roman", sans-serif;
          color: var(--text-color);
        }
      }
    }

    .cel-img3 {
      margin-top: 10%;

      img {
        width: 100%;
      }
    }
    .cel-img4 {
      margin-top: 10%;
      img {
        width: 100%;
      }
    }
    .cel-img5 {
      margin-top: 10%;
      img {
        width: 100%;
      }
    }
    .cel-img6 {
      margin-top: 10%;
      img {
        width: 100%;
      }
    }
  }
}
