.content-images {
  .dtodo-img1 {
    p {
        color: var(--text-color);
      font-size: 30px;
      font-family: "Times New Roman", sans-serif;
    }

    img {
      margin-top: 4%;
      width: 100%;
    }
  }

  .cont-dtodo {
    contain: content;
    .text-dtodo {
      text-align: center;
    }

    .tech-dtodo {
      font-size: 33px;
      font-family: "Times New Roman", sans-serif;

      margin-top: 6%;
      color: var(--text-color);
      text-decoration: underline;
    }
    p {
      font-size: 30px;
      font-family: "Times New Roman", sans-serif;
      text-align: -webkit-center;
      margin-top: 10%;
      color: var(--text-color);
    }
    ul {
      margin-top: 3%;
      li {
        margin-left: 12%;
        list-style: none;
        font-size: 22px;
        font-family: "Times New Roman", sans-serif;
        color: var(--text-color);
      }
    }
  }

  .dtodo-img2 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img3 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img4 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img5 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }

  .dtodo-img1 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img6 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img7 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img8 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img9 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }

  .dtodo-img10 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img11 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img12 {
    margin-top: 10%;
    img {
      width: 100%;
      height: 736px;
    }
  }
  .dtodo-img13 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img14 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }

  .dtodo-img15 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .dtodo-img16 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }
  .res-dtodo {
    contain: content;
    margin-top: 5%;
    justify-content: center;
    font-size: 32px;
    font-family: "Times New Roman", sans-serif;
    color: var(--text-color);
  }

  .dtodo-img17 {
    text-align: center;
    margin-top: 10%;
    img {
      width: 360px;
      height: 640px;
    }
  }
  .dtodo-img18 {
    text-align: center;
    margin-top: 10%;
    img {
      width: 360px;
      height: 640px;
    }
  }
}
@media (max-width: 648px) {
  .content-images {
    margin-top: 3%;
    .dtodo-img1 {
      p {
        font-size: 26px;
      }
      margin-top: 10%;
      img {
        height: 300px;
      }
    }

    .cont-dtodo {
      contain: content;
      .text-dtodo {
        text-align: center;
      }

      .tech-dtodo {
        font-size: 28px;
        font-family: "Times New Roman", sans-serif;

        margin-top: 6%;
      }
      p {
        font-size: 20px;

        text-align: -webkit-center;
        margin-top: 10%;
      }
      ul {
        margin-top: 3%;
        li {
          margin-left: 1px;
          list-style: none;
          font-size: 18px;
        }
      }
    }

    .dtodo-img2 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img3 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img4 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img5 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }

    .dtodo-img1 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img6 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img7 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img8 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img9 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }

    .dtodo-img10 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img11 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img12 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img13 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img14 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }

    .dtodo-img15 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .dtodo-img16 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }
    .res-dtodo {
      font-family: "Times New Roman", sans-serif;

      font-size: 20px;
      margin-top: 12%;
      justify-content: center;

      font-family: "Times New Roman", sans-serif;
      color: var(--text-color);
    }

    .dtodo-img17 {
      text-align: center;
      margin-top: 1px;
      img {
        width: 180px;
        height: 320px;
      }
    }
    .dtodo-img18 {
      text-align: center;
      margin-top: 10%;
      img {
        width: 180px;
        height: 320px;
      }
    }
  }
}
