.content-images {
  contain: content;
  margin-top: 3%;
  .mine-img1 {
    margin-top: 10%;
    img {
      width: 100%;
    }
  }

  .text-mine {
    .tech-mine {
      font-size: 33px;
      font-family: "Times New Roman", sans-serif;

      margin-top: 2%;
      color: var(--text-color);
      text-decoration: underline;
    }
    p {
      font-size: 30px;
      font-family: "Times New Roman", sans-serif;
      text-align: -webkit-center;
      margin-top: 5%;
      color: var(--text-color);
    }
    ul {
      text-align: center;
      margin-top: 3%;
      li {
        list-style: none;
        font-size: 22px;
        font-family: "Times New Roman", sans-serif;
        color: var(--text-color);
      }
    }
  }

  .mine-img2 {
    text-align: center;
    margin-top: 10%;
    img {
      width: 360px;
      height: 640px;
    }
  }
}
@media (max-width: 648px) {
  .content-images {
    margin-top: 3%;
    .mine-img1 {
      margin-top: 10%;
      img {
        height: 300px;
      }
    }

    .text-mine {
      ul {
        li {
          font-size: 20px;
          text-align: left;
        }
      }
    }

    .mine-img2 {
      text-align: center;
      margin-top: 10%;
      img {
        width: 360px;
        height: 640px;
      }
    }
  }
}
