:root {
  --black: black;
  --white: rgb(236, 236, 236);
  --grey: rgb(53, 52, 52);
  --darke:rgb(26, 24, 24);
  --lighte:white;
  --inputC:rgb(194, 190, 190);
  
}

body.light {
  --background-color: var(--white);
  --text-color: var(--black);
--download: var(--black);
--letterDown: var(--white);
--boxshadow: var(--grey);
--iconcard: var(--lighte);
--inputsc:var(--lighte);
}
body.dark {
  --background-color: var(--black);
  --text-color: var(--white);
  --download: var(--white);
  --letterDown: var(--black);
  --boxshadow: var(--grey);
  --iconcard: var(--darke);
  --inputsc:var(--inputC);
}
body{
  background: var(--background-color);
 
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
